{% extends "app/base.html" %}
{% block title %}Post{% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block css %}
<style>
    .container{
        min-height: 100vh;
    }
</style>
{% endblock css %}
{% block body %}
<div class ="lg-bold text-center">
    <h1><span class="text-primary">{{blog.title}}</span></h1>
    <hr / class="w-75 m-auto">
  </div>    
<div class="container py-2 ">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-12 ">
        <img src="{{blog.post_image.url}}" class="img-fluid" alt="President image">
      </div>
      <div class="container-fluid my-3">
        <div class="row">
            <div class="col">
                <div class="container-lg" style="overflow-x: auto;">
                    {{blog.content | safe}}
                </div>
            </div>
        </div>
    </div>
    
    
    
{% endblock body %}